body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to top , #f6cae9,rgb(123 60 92));/* c'est le backgroud en degrade*/
}
img{
   
    height: 200px;

}
.container {
    background-color: #fdfcfd;
    padding: 40px;
    border-radius: 5px;
    box-shadow: -20px 14px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    height:550px;

}
.logo {
    
}


h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #363535;
}
input {
    width: 100%;
    padding: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    box-sizing: border-box;
}
button[type="submit"] {
    
    background-color: rgb(123 60 92);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 50px;

}

button:hover {               /*pour l'animation du boutton*/
    background-color: rgb(184, 73, 128);
    transform: scale(1.07);
    transition: all 0.3s;
}
input::placeholder {
    text-align: center;
}